{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out" id="app">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script type="text/javascript" src="js/app.js"></script> -->
    <!-- END scripts -->

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Привет, Vue!'
        }
      })
    </script>

  </body>
</html>
